<!-- Navbar -->
<%= render "shared/navbar" %>

<!-- Admin Dashboard Content -->

<div class="dashboard-container">
  <h2 class="admin-header">Welcome to Pawsome Pals Dog Adoption Center Admin Dashboard</h2>
  <p class="admin-par">Manage and monitor the dog adoption activities at Pawsome Pals.</p>

  <div class="row mt-4">
  <div class="col-md-4 ">
    <div class="card admin-card">
      <div class="card-body admin-card-body">
        <h5 class="card-title admin-card-title">Total Dogs for Adoption</h5>
        <p class="card-text admin-card-text">
          <% available_dogs_count = Dog.where(isActive: true).count %>
          Currently, there <%= available_dogs_count == 1 ? "is" : "are" %> <span class="highlight-number"><%= available_dogs_count %></span> <%= "dog".pluralize(available_dogs_count) %> available for adoption.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 ">
  <div class="card admin-card">
    <div class="card-body admin-card-body">
      <h5 class="card-title admin-card-title">Adoption Requests</h5>
      <p class="card-text admin-card-text">
        <% pending_requests_count = AdoptionRequest.where(isApproved: nil).count %>
        There <%= pending_requests_count == 1 ? "is" : "are" %> <span class="highlight-number"><%= pending_requests_count %></span> <%= "pending adoption request".pluralize(pending_requests_count) %> waiting for review.
      </p>
    </div>
  </div>
</div>
  
<div class="col-md-4 ">
<div class="card admin-card">
  <div class="card-body admin-card-body">
    <h5 class="card-title admin-card-title">Successful Adoptions</h5>
    <p class="card-text admin-card-text">Congratulations! <span class="highlight-number">10</span> dogs found their forever homes this month.</p>
  </div>
</div>
</div>
</div>

 

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card admin-card">
        <div class="card-body admin-card-body">
          <h3 class="card-title admin-card-title">Manage Dog Listings</h3>
          <p class="card-text admin-card-text">Review and update the information about dogs available for adoption.</p>
          <a href="<%= dogs_path %>" class="btn btn-primary admin-btn">Manage Dog Listings</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card admin-card">
        <div class="card-body admin-card-body">
          <h3 class="card-title admin-card-title">Adoption Requests</h3>
          <p class="card-text admin-card-text">Review and approve/deny adoption requests from potential adopters.</p>
          <%= link_to "View Adoption Requests", adoption_requests_path, class: "btn btn-success admin-btn" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card admin-card">
        <div class="card-body admin-card-body">
          <h3 class="card-title admin-card-title">User Management</h3>
          <p class="card-text admin-card-text">View and manage user accounts who are part of the Pawsome Pals Dog Adoption Center.</p>
          <a href="#" class="btn btn-info admin-btn">User Management</a>
        </div>
      </div>
    </div>
  </div>

 
</div>
