<%= render "shared/navbar" %>

<div class="show-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-4 mb-4">All Users</h2>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Phone Number</th>
              <th>Date of Birth</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.first_name %></td>
                <td><%= user.email %></td>
                <td><%= user.address %></td>
                <td><%= user.contact_details %></td>
                <td><%= user.date_of_birth %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  <%= link_to "Back to Admin Dashboard", admin_dashboard_path, class: "btn btn-secondary" %>
</div>
