<%= render "shared/navbar" %>

<h1 class="mb-4 text-center">Adoption Information</h1>
<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm">
      <% if @dog.picture.attached? %>
        <%= image_tag @dog.picture, class: "card-img-top" %>
      <% else %>
        <p class="no-picture">No picture available.</p>
      <% end %>
      <div class="card-body">
        <h2 class="card-title"><%= @dog.dog_name %></h2>
        <p class="card-text"><strong>Breed:</strong> <%= @dog.breed %></p>
        <p class="card-text"><strong>Age:</strong> <%= @dog.age %> years</p>
        <p class="card-text"><strong>Gender:</strong> <%= @dog.gender %></p>
        <!-- Add more details here if needed -->
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm p-3 mt-2">
      <div class="card-body">
        <h3 class="card-title">Description</h3>
        <p class="card-text"><%= @dog.description %></p>
      </div>
    </div>
    <%= link_to "Back to Listings", dogs_path, class: "btn btn-primary mt-2", role: "button" %>
  </div>
</div>
